<select id="AllergyTypeDDL" onchange="OnAllergyTypeChange();" class="form-control">
    <option value="">Allergy Type</option>
    <option value="Drug">Drug</option>
    <option value="Environment">Environment</option>
    <option value="Food">Food</option>
    <option value="Inhalant">Inhalant</option>
    <option value="Insect">Insect</option>
    <option value="Plant">Plant</option>
    <option value="Other">Other</option>
</select>
