<select id="AllergyStatusDDL" onchange="OnAllergyStatusChange();" class="form-control">
    <option value="">Allergy Status</option>
    <option value="Active">Active</option>
    <option value="Inactive">Inactive</option>
    <option value="Resolved">Resolved</option>
</select>
