<select id="CCMTimeSpanDDL" onchange="OnBillingTimeSpanChange();" class="form-control">
    <option selected value="20">Greater & Equal to 20 Min.</option>
    <option value="19">Less than 20</option>
    <option value="00">All</option>
</select>
