<select id="CCMTimeSpanDDL" onchange="OnCCMTimeSpanChange();" class="form-control">
    <option value="21">Greater & Equal to 20 Min.</option>
    <option value="20">Less than & Equal to 20</option>
    <option selected value="00">All</option>
</select>
