<select id="EthnicityDDL" onchange="OnEthnicityDDLChange();" class="form-control">
    <option class="first" value="">Ethnicity</option>
    <option value="Hispanic/ Latino">Hispanic/ Latino</option>
    <option value="Not given/ specified">Not given/ specified</option>
    <option class="last" value="Not Hispanic / Latino">Not Hispanic / Latino</option>
</select>
