<select id="MaritalStatusDDL" onchange="onMaritalStatusChange();" class="form-control">
    <option value="">Marital Status</option>
    <option value="Divorced">Divorced</option>
    <option value="Domestic Partner">Domestic Partner</option>
    <option value="Married">Married</option>
    <option value="Single">Single</option>
    <option value="Seperated">Seperated</option>
    <option value="Widowed">Widowed</option>
</select>
