<select id="PatientStatusDDL" onchange="OnPatientStatusChange();" class="form-control">
    <option value="">Patient Status</option>
    <option value="Critical">Critical</option>
    <option value="Enrolled">Enrolled</option>
    <option value="Normal">Normal</option>
    <option value="On Hold-Hospitalized">On Hold-Hospitalized</option>
    <option value="On Hold-Home Health">On Hold-Home Health</option>
    <option value="On TCM">On TCM</option>
    <option value="Declined">Declined</option>
    <option value="Resolved">Resolved</option>
    <option value="Discharged from CCM-other reason">Discharged from CCM-other reason</option>
</select>

