<select id="RacesDDL" onchange="OnRacesChange();" class="form-control">
    <option value="">Races</option>
    <option value="Asian">Asian</option>
    <option value="American Indian or Alaska Native">American Indian or Alaska Native</option>
    <option value="Black or African American">Black or African American</option>
    <option value="Native Hawaiian or Other Pacific Islander">Native Hawaiian or Other Pacific Islander</option>
    <option value="Other">Other</option>
    <option value="White">White</option>
</select>

