<select id="SeverityDDL" onchange="OnSeverityChange();" class="form-control">
    <option value="">Severity</option>
    <option value="Mild">Mild</option>
    <option value="Moderate">Moderate</option>
    <option value="Severe">Severe</option>
</select>
