<select id="SourceDDL" onchange="OnSourceChange();" class="form-control">
    <option value="">Source</option>
    <option value="Allergy History">Allergy History</option>
    <option value="Patient Reported">Patient Reported</option>
    <option value="Practice Reported">Practice Reported</option>
    <option value="Transition of Care/Referral">Transition of Care/Referral</option>
</select>
