<select id="StatusDDL" onchange="OnStatusChange();" class="form-control">
    <option value="">Status</option>
    <option value="Active">Active</option>
    <option value="Deceased">Deceased</option>
    <option value="Deleted">Deleted</option>
    <option value="InActive">InActive</option>
    <option value="New">New</option>
    <option value="Suspended">Suspended</option>
</select>

