<appSettings>
	<clear/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!--For live server-->
	<!--<add key="webapiurl" value=""/>
	<add key="weburl" value=""/>-->

	<!--change the localhost as per your system-->
	<!--For local testing-->
	<add key="WebApiUrl" value="https://localhost:44388/"/>
	<add key="WebUrl" value="http://localhost:2254/"/>

	<add key="log4net" value="~\App_Config\log4net.config"/>
</appSettings>