<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <table>
        <tr>
            <td width="40%" style="font-size: 20px;">
                Dolfhin Care
            </td>
            <td width="60%" style="font-size: 18px;" align="right">
                _ClinicName
            </td>
        </tr>
        <tr>
            <td width="40%" style="font-size: 11px;">
                Call Log Report
            </td>
            <td width="60%" style="font-size: 11px;" align="right">
                Report Generated: _CurrentDate
            </td>
        </tr>
    </table>
    _CallLogReport
</body>
</html>
