<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <table>
        <tr>
            <td width="40%" style="font-size: 20px;">
                Dolfhin Care
            </td>
            <td width="60%" style="font-size: 18px;" align="right">
                _ClinicName
            </td>
        </tr>
        <tr>
            <td width="40%" style="font-size: 11px;">
                Single Reading Report
            </td>
            <td width="60%" style="font-size: 11px;" align="right">
                Report Generated: _CurrentDate
            </td>
        </tr>
    </table>
    <table style="font-size:11px;">
        <tr>
            <td width="12%">Patient Name </td>
            <td>: _PatientName</td>
        </tr>
        <tr>
            <td width="12%">DOB </td>
            <td>: _DOB</td>
        </tr>
        <tr>
            <td width="12%">MRN Number </td>
            <td>: _MRNNumber</td>
        </tr>
        <tr>
            <td width="12%">Contact No. </td>
            <td>: _ContactNo</td>
        </tr>
        <tr>
            <td width="12%">Address </td>
            <td>: _Address</td>
        </tr>
    </table>
    _ReadingReport
    <!--<table>
        <tr>
            <td style="border:1px solid black;font-size: 10px;" colspan='4'>CCM Canned Notes</td>
        </tr>
        <tr>
            <td width='10%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;">Time</td>
            <td width='50%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;">Notes</td>
            <td width='20%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;">Posted By</td>
            <td width='20%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;border-right:1px solid black;">Minutes</td>
        </tr>
        <tr>
            <td width='10%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;">9/22/2017</td>
            <td width='50%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;">Notes</td>
            <td width='20%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;">Posted By</td>
            <td width='20%' style="border-bottom:1px solid black;border-left:1px solid black;border-right:1px solid black;font-size: 10px;">Minutes</td>
        </tr>
       <tr>
            <td width='10%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;" colspan='2'></td>
            <td width='20%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;">Total Minutes:</td>
            <td width='20%' style="border-bottom:1px solid black;border-left:1px solid black;border-right:1px solid black;font-size: 10px;">_TotalMintes</td>
        </tr>
        <tr>
            <td width='10%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;" colspan='2'></td>
            <td width='20%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;">Billable Minutes</td>
            <td width='20%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;border-right:1px solid black;">_BillableMintes</td>
        </tr>
        <tr>
            <td width='10%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;" colspan='2'></td>
            <td width='20%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;">Non Billable Minutes</td>
            <td width='20%' style="border-bottom:1px solid black;border-left:1px solid black;font-size: 10px;border-right:1px solid black;">_NonBillableMinutes</td>
        </tr>
    </table>-->
</body>
</html>
